<p id="notice"><%= notice %></p>

<h1>
  <%= @auction.title %>
</h1>

<img src="<%= @auction.image_url_main %>" />

<div>
  <%= @auction.start_at %> 開始
</div>

<div>
  <%= @auction.description %>
</div>

<%= form_for :bidding, :url => '/auctions/bid' do |f| %>
<%= f.text_field:name%>
<%= f.text_field:price%>
<%= f.hidden_field:auction_uniq_id, :value => @auction.auction_uniq_id %>
<%= submit_tag 'BID' %>
<% end %>

<p>
  <b>Auction uniq:</b>
  <%= @auction.auction_uniq_id %>
</p>

<table class="table table-striped">
<tbody>
<% @biddings.each do |bidding| %>
<tr>
  <td>
    <%= bidding.name %>
  </td>
  <td>
    <%= bidding.price %>
  </td>
  <td>
    <%= bidding.created_at %>
  </td>
</tr>
<% end %>
</tbody>
</table>

<%= link_to 'Back', auctions_path %>
